

@import "tailwindcss";

/*
这个 CSS 文件包含了一些全局样式和基础样式设置。
可以在这里定义全局的字体、颜色、背景等样式。
可以定义多套主题样式，使用 CSS 变量来切换主题。
 */

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f172a; /* slate-950 */
}
