@import './base.css';

/*
这个文件定义了APP的总体布局
*/

/* vue基本样式 */
/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  font-weight: normal;*/
/*  width: fit-content;*/
/*} */

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/


body {
  font-family: 'Inter', sans-serif;
}

img {
  caret-color: transparent; /* 隐藏图片元素的光标 */
}

svg {
  caret-color: transparent;
}

button {
  cursor: pointer; /* 鼠标悬停时显示手型光标 */
  caret-color: transparent;
}

input {
  cursor: text; /* 鼠标悬停时显示文本输入光标 */
}

input[type="checkbox"]{
  cursor: pointer; /* 鼠标悬停时显示手型光标 */
}

label {
  caret-color: transparent;
  cursor: default;
}
