@import './base.css';

/*
这个文件定义了APP的总体布局
*/

/* vue基本样式 */
/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  font-weight: normal;*/
/*  width: fit-content;*/
/*} */

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/


body {
  font-family: 'Inter', sans-serif;
}
